/* Imports */
@import "/node_modules/normalize.css/normalize.css";

:root {
  // Primary colors
  --white: #fff;
  --black: #000;
  --light-blue: #7bb2ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
  background-color: var(--light-blue);
}