/* Imports */
@import "/node_modules/normalize.css/normalize.css";

:root {
  // Primary colors
  --white: #fff;
  --black: #000;
  --light-blue: #7bb2ff;
  --medium-blue: #7aa8ff;
  --dark-blue: #4f83ff;
  --dark-medium-blue: #3d6de6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: var(--black);
  background-color: var(--light-blue);

  main {
    max-width: 20%;
    background-color: var(--white);
    padding: 1.6rem;
    border-radius: 0.5rem;

    div.main-box {

      h1 {
        font-size: 2rem;
        margin: 0 0 0.4rem 0;
        text-align: center;
        margin-bottom: 1rem;
      }

      p.description {
        font-size: 1rem;
        margin-bottom: 1rem;
        text-align: center;
      }

      div#informations {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.5rem;

        h2 {
          text-align: center;
          margin-bottom: 1rem;
        }

        img {
          width: 100%;
          max-width: 50px;
          margin-bottom: 1rem;
        }

        p:not(:last-child) {
          margin-bottom: 0.2rem;
        }

        &.hidden {
          display: none;
        }
      }

      form {
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 0.5rem;
          font-weight: bold;
        }

        input[type="text"] {
          padding: 0.5rem;
          border: 2px solid var(--light-blue);
          border-radius: 0.5rem;
          font-size: 1rem;
          margin-bottom: 1rem;

          &:focus {
            border: 2px solid var(--medium-blue);
            outline: none;
          }
        }

        input[type="submit"] {
          padding: 0.5rem;
          border: none;
          border-radius: 0.5rem;
          background-color: var(--light-blue);
          color: var(--white);
          font-size: 1rem;
          font-weight: bold;
          cursor: pointer;
          transition: background-color 0.2s ease-in-out;

          &:hover {
            background-color: var(--medium-blue)
          }

          &:last-child {
            margin-top: 0.8rem;
            background-color: var(--dark-blue);

            &:hover {
              background-color: var(--dark-medium-blue);
            }
          }
        }
      }
    }
  }
}

// Media queries / Mobile
@media (max-width: 768px) {
  body {
    main {
      max-width: 80%;
    }
  }
}